body{
    background-color: rgb(29, 30, 31);
    color: white;
    font-family: "Fredoka", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(38, 83, 100);
    color: white;
    font-family: "Fredoka", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 80%;
}

